<div class="animated fadeIn"> <!-- DONT REMOVE THIS DIV -->
    <loading :active.sync="isLoading"
             :can-cancel="false"
             :is-full-page="true"></loading>

    <div  v-if="!isLoading" class="col-md-12">
        <b-card>
          <h3>Roles</h3>
          <div class="row">
            <div class="col-sm-12">
              <b-button v-if="user.can['add_roles']" variant="primary" class="pull-right" size="sm" @click="addRole()"><i class="fa fa-plus"></i>&nbsp; New Role</b-button>
            </div>
          </div>

          <br><br>
         <div class="col-xs-12 first_item">
           <b-card v-for="(role, i) in roles" :key="role.id">
            <div class="row" style="align-items: center;">
              <div class="col-sm-6 pull-right">
                <h6><strong>{{ role.name }}</strong></h6>
              </div>
              <div class="col-sm-6">
                <b-button v-if="user.can['edit_roles']" variant="danger" class="pull-right" size="sm" @click="deleteRole(role.id)"><i class="fa fa-trash-o fa-lg"></i></b-button>
               <b-button v-if="user.can['delete_roles']" variant="primary" class="pull-right" size="sm" @click="updateRole(role.id, i)"><i class="fa fa-floppy-o fa-lg"></i></b-button>
              </div>
            </div>
            <hr><br>

             <div class="row">
               <div class="col-md-3" v-for="(permission, index) in permissions">
                   <b-form-checkbox :disabled="!user.can['edit_roles']" :value="permission.id" v-model="roleHasPermission[i]">
                     {{ permission.name }}
                   </b-form-checkbox>
               </div>
             </div>
           </b-card>
           <template v-if="checkRole && roles.length == 0">
             <p>No Roles defined, please run <code>php artisan db:seed</code> to seed some dummy data.</p>
           </template>
         </div>

         <!-- Modal for updating -->
         <form  @submit.prevent="addNewRole" @keydown="form.errors.clear($event.target.name)">
           <div class="modal fade" id="add-role" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="addRoleModalLabel">Add Role</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="resetForm">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <b-form-fieldset
                     label="Name"
                     description="Please enter the role name."
                     :label-cols="2"
                     :horizontal="true">
                     <b-form-input type="text" :class="form.errors.has('name') ? 'is-invalid' : '' " v-model="form.name" ></b-form-input>
                     <div v-if="form.errors.has('name')" class="invalid-feedback">
                       {{ form.errors.get('name') }}
                     </div>
                   </b-form-fieldset>
                 </div>
                 <div class="modal-footer">
                   <button type="submit" class="btn btn-primary">Submit</button>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="resetForm">Close</button>
                 </div>
               </div>
             </div>
           </div>
         </form>
       </b-card>

    </div>

  <simplert ref="deleteconfirmation"> </simplert>

</div>
